@CHARSET "UTF-8";

body {
	color: #27408B;
}

h1 {
	text-align: center;
}

table#tabla-usuarios {
	position: relative;
	left: 50%;
	width: 80%;
	margin-left: -40%;
	border: 1px solid #27408B;
	border-collapse: collapse;
}

td.celda {
	text-align: center;
	border: 1px solid #27408B;
	cursor: pointer;
}

#agregar {
	position: absolute;
	left: 1%;
	top: 30%;
}